<header class="app-header">
    <h1>Buscador de Libros</h1>
    
    <div style="width: 100%; margin: auto;" class="navbarSticky">
        <p-menubar id="navBarDefault">
            <ng-template pTemplate="end">
                <button
                    pButton
                    label="Salir"
                    icon="pi pi-power-off"
                    iconPos="right"
                    class="p-button-warning botonRojo btnSalir"
                    
                    placement="bottom"
                    ngbTooltip="Salir de la Aplicacion"></button>
            </ng-template>
        </p-menubar>
    </div>
</header>